spring:
  application:
    name: "configserver"
  profiles:
    #active: native
    active: git
  cloud:
    config:
      server:
        #native:
          #search-locations: "classpath:/config"
          #search-locations: "file:///Users//saichandkyama//Documents//Learning//config"
        git:
          uri: "https://github.com/saichandkyama/microservices-config.git"
          default-label: master
          clone-on-start: true
          force-pull: true

server:
  port: 8071

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

encrypt:
  key: YSjxiDjeBrZEwWSyY6mOUx11V8T6TooR